.NftPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5.290625rem;
}

.NftPage .headingOfNft {
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffc800;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60vw;
    background-color: rgb(63, 60, 60);
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.5rem 0.1rem #ffc800;
}

.NftPage .headingOfNft img {
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 3rem;
}

.NftPage .advertisement {
    margin: 2rem 0;
    width: 70vw;
}

.NftPage .advertisement img {
    max-height: 40vh;
    min-width: 40vw;
    border-radius: 1rem;
}

.NftPage .detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0 3rem 0;
    box-shadow: 0 0 0.5rem 0.1rem #17d4f5;
    padding: 1rem 3rem;
}

.NftPage .detail p {
    font-size: 1.5rem;
    font-weight: 700;
    color: #faffbe;
    margin: 0.5rem 0;
    text-align: left;
}

.NftPage .detail h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #ffae00;
    margin: 0.5rem 0;
    text-align: left;
}