body {
    background-color: black;
    color: white;
}

.warning {
    color: rgb(255, 153, 0);
    font-weight: bold;
    font-size: x-large;
    margin-top: 2rem;
}

.error {
    color: red;
    font-weight: bold;
    font-size: x-large;
    margin-top: 2rem;
}